/*
  Name: Bearming
  Version: 1.4.4-c.1
  About: birming.com/bearming, with a few personal tweaks
*/

/* Fonts
 * Imports are handled in the <header> with <link> tags to avoid the use of @import
 */
:root {
  --font-family-emoji: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  --font-main: "Atkinson Hyperlegible", sans-serif, var(--font-family-emoji);
  --font-secondary: "Inter", sans-serif, var(--font-family-emoji);
}

/* Colors: Light mode */
:root {
  --background-color: #ffffff;
  --accent-color: #cfe8fe;
  --text-color: #333333;
  --link-color: #0055cc;
  --visited-color: #663399;
}

/* Colors: Dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #001828;
    --accent-color: #114466;
    --text-color: #f2f2f2;
    --link-color: #99ccff;
    --visited-color: #cc99ff;
  }
}

/* Global resets */
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
}

/* Basic styles */
body {
  margin: 10px auto;
  padding: 20px;
  max-width: 680px;
  font-family: var(--font-main);
  font-size: 1.15em;
  line-height: 1.5;
  text-align: left;
  color: var(--text-color);
  background-color: var(--background-color);
  word-wrap: break-word;
  overflow-wrap: break-word;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-secondary);
}
main h1 {
  font-size: 2em;
  line-height: 1.2;
}
.title h1 {
  display: inline-block;
  margin: 0 0 5px;
  font-size: 1.9em;
  font-weight: 900;
  letter-spacing: -0.5px;
}

/* Links */
a,
main a {
  color: var(--link-color);
  text-decoration: underline;
}
a.title,
.title:hover {
  color: var(--text-color);
  text-decoration: none;
}
.blog-posts a:visited,
.post main a:visited {
  color: var(--visited-color);
}

/* Form elements */
input,
button,
textarea,
select {
  margin: 0;
  padding: 0;
  font: inherit;
  box-sizing: border-box;
}
legend {
  margin: 20px 0;
  font-weight: bold;
}
label {
  display: block;
  font-weight: bold;
}
input,
textarea {
  margin: 0 0 10px;
  padding: 5px 10px;
  color: var(--text-color);
  background: var(--accent-color);
  border: 2px solid var(--link-color);
  border-radius: 5px;
}
input {
  width: 55%;
}
textarea {
  width: 95%;
}
input[type="button"],
input[type="submit"],
input[type="reset"] {
  margin: 0 0 20px;
  padding: 7px;
  font-family: var(--font-secondary);
  font-weight: bold;
  color: var(--background-color);
  background: var(--link-color);
  border-radius: 5px;
  cursor: pointer;
}
::placeholder {
  color: var(--text-color);
  opacity: 0.8;
}

/* Misc elements */
time {
  font-family: var(--font-secondary);
  font-style: normal;
  font-size: 0.8em;
  opacity: 0.8;
}
p time {
  display: block;
  margin: -20px 0 25px;
}
table {
  width: 100%;
}
hr {
  border: 0;
  border: 1px dashed var(--accent-color);
}
img {
  display: block;
  max-width: 100%;
  margin: 0 0 25px;
}
blockquote {
  margin: 25px 0;
  padding: 2px 25px;
  font-style: italic;
  background: var(--accent-color);
  border-radius: 10px;
}

/* Navigation */
nav {
  margin: 5px 0 30px;
  font-family: var(--font-secondary);
  line-height: 2.3;
}
nav p {
  display: inline;
  line-height: 45px;
}
nav a {
  margin-right: 6px;
  padding: 6px 12px;
  font-size: 0.8em;
  font-weight: bold;
  color: var(--link-color);
  text-decoration: none;
  border: 1px solid var(--link-color);
  border-radius: 15px;
}
nav a:hover {
  background: var(--accent-color);
}

/* Footer */
footer {
  padding: 20px 0 !important;
  font-family: var(--font-secondary);
  font-size: 0.8em;
  text-align: center;
}
footer a {
  text-decoration: none;
}
footer strong {
  font-size: 1.1em;
}

/* Blog list and post */
ul.blog-posts {
  margin: 50px 0 20px;
  padding: 0;
}
ul.blog-posts li {
  list-style: none;
  overflow: hidden;
  padding: 20px 0;
  border-top: 1px solid var(--accent-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul.blog-posts li span {
  order: 2;
}
ul.blog-posts li:last-child,
.post main {
  border-bottom: 1px solid var(--accent-color);
}
ul.blog-posts li a {
  order: 1;
  flex: 1;
  margin-right: 5px;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Misc styles */
.inline {
  width: auto !important;
}
.code,
.highlight {
  margin-block-start: 1em;
  margin-block-end: 1em;
  padding: 1px 15px;
  overflow-x: auto;
  background-color: var(--background-color);
  color: var(--text-color);
  border-radius: 3px;
  line-height: 1.2;
}
.tags a {
  display: inline-block;
  margin: 15px 5px 0 0;
  padding: 4px 9px;
  font-size: 1em;
  color: var(--text-color);
  background: var(--accent-color);
  border-radius: 5px;
  text-decoration: none;
}
.footnote,
.footnote-ref a {
  text-decoration: none;
}

/* ADD-ONS */

/* Print styles */
@media print {
  body {
    background: #fff;
    color: #000;
    font-family: Georgia, serif;
  }
  nav {
    display: none;
  }
  h1,
  h2,
  h3 {
    line-height: 1.3;
    font-family: Helvetica, sans-serif;
  }
  a,
  main a {
    color: #000;
    text-decoration: none;
  }
  blockquote,
  code {
    background: #fff;
    margin: 0;
    padding: 0 1.5em;
    border: none;
  }
  nav,
  footer,
  .tags,
  .upvote-button {
    display: none !important;
  }
}

/* My customizations */
main img {
  border-radius: 5px;
}

figure {
  margin: 0;
}

figcaption {
  display: table;
  width: auto;
  margin: -10px auto 30px;
  padding: 5px 12px;
  color: var(--text-color);
  opacity: 0.9;
  font-family: var(--font-secondary);
  font-size: 0.8em;
  text-align: center;
  background: var(--accent-color);
  border-radius: 5px;
}

section.footnotes {
  margin: 3em 0;
}

section.footnotes::before {
  content: "• • •";
  display: block;
  text-align: center;
}

/* Post excerpts styling on home page */
ul.embedded.blog-posts li {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
ul.embedded.blog-posts li span {
  order: 1;
}
ul.embedded.blog-posts li time {
  float: left;
  margin: 15px 0 0;
  text-transform: none;
}
ul.embedded.blog-posts li a {
  order: 2;
  overflow: visible;
  white-space: normal;
  font-size: 1.2em;
  font-weight: bold;
}

/* Upvote button */
.upvote-button svg {
  display: none;
}
.upvote-button {
  font-family: var(--font-secondary);
}
.upvote-count {
  font-size: 0.8em;
}
.upvote-button:hover {
  cursor: pointer;
}
.upvote-button::before {
  content: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLWhlYXJ0Ij48cGF0aCBkPSJNMTkgMTRjMS40OS0xLjQ2IDMtMy4yMSAzLTUuNUE1LjUgNS41IDAgMCAwIDE2LjUgM2MtMS43NiAwLTMgLjUtNC41IDItMS41LTEuNS0yLjc0LTItNC41LTJBNS41IDUuNSAwIDAgMCAyIDguNWMwIDIuMyAxLjUgNC4wNSAzIDUuNWw3IDdaIi8+PC9zdmc+);
  font-size: 1.5em;
}
@media (prefers-color-scheme: dark) {
  .upvote-button::before {
    content: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNmYWZhZmEiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1oZWFydCI+PHBhdGggZD0iTTE5IDE0YzEuNDktMS40NiAzLTMuMjEgMy01LjVBNS41IDUuNSAwIDAgMCAxNi41IDNjLTEuNzYgMC0zIC41LTQuNSAyLTEuNS0xLjUtMi43NC0yLTQuNS0yQTUuNSA1LjUgMCAwIDAgMiA4LjVjMCAyLjMgMS41IDQuMDUgMyA1LjVsNyA3WiIvPjwvc3ZnPg==);
  }
}
.upvote-button[disabled] {
  cursor: default;
}
.upvote-button[disabled]::before {
  content: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNmZjQwMTMiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1oZWFydCI+PHBhdGggZD0iTTE5IDE0YzEuNDktMS40NiAzLTMuMjEgMy01LjVBNS41IDUuNSAwIDAgMCAxNi41IDNjLTEuNzYgMC0zIC41LTQuNSAyLTEuNS0xLjUtMi43NC0yLTQuNS0yQTUuNSA1LjUgMCAwIDAgMiA4LjVjMCAyLjMgMS41IDQuMDUgMyA1LjVsNyA3WiIvPjwvc3ZnPg==);
  font-size: 1.5em;
}
